@import "/src/styles/vars";
@import "/src/styles/mixins";

aside.aside {
    position: fixed;
    left: 0;
    top: 94px;
    bottom: 0;
    width: 347px;
    background: rgba(41, 52, 139, 0.16);
    padding: 0 0 64px;
    @media all and (max-width: $normalDesktop) {
        width: 287px;
    }
}
.asideContent {
    .asideList {
        list-style-type: none;
        padding: 48px 24px 0 0;
        margin: 0;
        .asideListItem {
        cursor: pointer;
            &:not(:last-child) {
                .asideListLink {
                    margin-bottom: 24px;
                }
            }
            .asideListLink {
                @include flex-center-vert;
                padding: 12px 20px 12px 48px;
                text-decoration: none;
                @include fontRem(18, 500);
                line-height: 22px;
                color: $titleColor;
                border-radius: 0 8px 8px 0;
                transition: 0.3s;
                @media all and (max-width: $normalDesktop) {
                    @include fontRem(16, 500);
                    padding: 12px 12px 12px 20px;
                }
                &.active {
                    background: rgba(33, 90, 231, 0.12);
                }
                svg {
                    margin-right: 16px;
                }
                .radyCount {
                    margin-left: auto;
                    @include flex-center;
                    background: #18aafc;
                    border-radius: 8px;
                    padding: 3px 12px;
                    @include fontRem(18, 500);
                    line-height: 22px;
                    @media all and (max-width: $normalDesktop) {
                        @include fontRem(16, 500);
                    }
                }
            }
        }
        .asideListDivider {
            border: 1px solid rgba(182, 193, 255, 0.12);
            margin: 56px 0 40px 16px;
        }
    }
}
