.main{
    position: absolute;
    top:  0;
    height: 50px;
    background: forestgreen;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}