@import "/src/styles/vars";
@import "/src/styles/mixins";

.header {
    background: rgba(20, 21, 39, 0.24);
    backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    z-index: 3;
    transition: 0.3s;
    @media all and (max-width: $tablet) {
        height: 64px;
        @include flex-center-vert;
    }
    &.scrolled {
        background: rgba(20, 21, 39, 0.88);
        transition: 0.3s;
    }
    [class="container"] {
        max-width: 100%;
        padding-left: 80px;
        padding-right: 80px;
        @media all and (max-width: $normalDesktop) {
            padding-left: 56px;
            padding-right: 56px;
        }
        @media all and (max-width: $tablet) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .headerLogo {
        img {
            width: 169px;
            @media all and (max-width: $tablet) {
                width: 169px;
            }
            @media all and (max-width: $smallTablet) {
                width: 100px;
            }
        }
        cursor: pointer;
    }
    .nav {
        @include flex-center-vert;

        .headerMenu {
            margin-left: auto;
            .headerMenuList {
                @include flex-center-vert;
                list-style-type: none;
                li {
                    position: relative;
                    padding: 23px 0;
                    .langSubList {
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: 130%;
                        right: 0;
                        width: 100%;
                        min-width: 130px;
                        list-style-type: none;
                        transition: 0.3s;
                        background: rgba(41, 52, 139, 0.24);
                        box-shadow: 4px 8px 24px rgba(19, 20, 38, 0.16);
                        backdrop-filter: blur(16px);
                        border-radius: 8px;
                        padding: 23px 35px;
                        border-width: 1px;
                        border-style: solid;
                        border-image: linear-gradient(rgba(178, 186, 215, 0.24), rgba(157, 164, 189, 0.02)) 1;
                        li {
                            padding: 0;
                            margin-left: 0;
                            &:not(:first-child) {
                                margin-top: 24px;
                            }
                        }
                        .langSubListLink {
                            display: block;
                            cursor: pointer;
                            text-align: center;
                            @include fontRem(16, 400);
                            color: rgba(227, 230, 234, 0.32);
                            transition: 0.3s;
                            line-height: 22px;
                            text-decoration: none;

                            &:hover {
                                color: $white;
                            }
                            &.selected {
                                color: $white;
                            }
                        }
                    }
                    &:hover {
                        .iconWrapper {
                            transform: rotate(180deg);
                        }
                        .langSubList {
                            top: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    &:not(:first-child) {
                        margin-left: 40px;
                        @media all and (max-width: $normalDesktop) {
                            margin-left: 24px;
                        }
                    }
                    .headerMenuLink {
                        @include flex-center-vert;
                        @include fontRem(16, 400);
                        line-height: 20px;
                        cursor: pointer;
                        color: $white;
                        text-decoration: none;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        @media all and (max-width: $normalDesktop) {
                            @include fontRem(14, 400);
                        }
                        .iconWrapper {
                            margin-left: 12px;
                            transition: 0.3s;
                            svg {
                                @media all and (max-width: $normalDesktop) {
                                    width: 12px;
                                }
                            }
                        }
                        &.headerSignIn {
                            margin-left: 24px;
                            @media all and (max-width: $normalDesktop) {
                                margin-left: 18px;
                            }
                        }
                        &.signupBtn {
                            @media all and (max-width: $tablet) {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
            @media all and (max-width: $tablet) {
                position: fixed;
                top: 34px;
                left: 0;
                width: 100%;
                height: 100vh;
                background: rgba(20, 21, 40, 0.94);
                backdrop-filter: blur(6px);
                visibility: hidden;
                opacity: 0;
                transition: 0.3s;
                &.active {
                    visibility: visible;
                    opacity: 1;
                    top: 64px;
                }
                .headerMenuList {
                    padding-top: 48px;
                    overflow: auto;
                    height: 100%;
                    @include flex-center-column;
                    justify-content: flex-start;
                    > li {
                        padding: 0;
                        &:not(:first-child) {
                            margin-left: 0;
                        }
                        .headerMenuLink {
                            padding-top: 0;
                            padding-bottom: 32px;
                            &.headerSignIn {
                                margin-top: 18px;
                                margin-left: 0;
                                padding-bottom: 24px;
                            }
                        }
                        &:last-child {
                            .headerMenuLink {
                                padding-bottom: 0;
                                padding-top: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
    .headerBurger {
        width: 24px;
        height: 24px;
        @include flex-center;
        margin-left: auto;
        cursor: pointer;
        display: none;
        @media all and (max-width: $tablet) {
            display: flex;
        }
        .burgerIcon {
            display: block;
            position: relative;
            background-color: $white;
            width: 20px;
            height: 2px;
            &::before {
                content: "";
                position: absolute;
                top: -6px;
                left: 0;
                width: 20px;
                height: 2px;
                background-color: $white;
                transition: transform 0.3s, top 0.3s ease-in 0.3s;
            }
            &::after {
                content: "";
                position: absolute;
                top: 6px;
                left: 0;
                width: 20px;
                height: 2px;
                background-color: $white;
                transition: transform 0.3s, top 0.3s ease-in 0.3s;
            }
        }
        &.active {
            .burgerIcon {
                background-color: transparent;
                &::before {
                    transform: rotate(45deg);
                    top: 0;
                    transition: top 0.3s, transform 0.3s ease-in 0.3s;
                }
                &::after {
                    transform: rotate(-45deg);
                    top: 0;
                    transition: top 0.3s, transform 0.3s ease-in 0.3s;
                }
            }
        }
    }
}
