@import "./_mixins";

html,
body {
    height: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
#root {
    height: 100%;
}
.page {
    @include flex-column;
    min-height: 100%;
    main.main {
        flex: 1 0 auto;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}
input,
button,
select {
    outline: none;
    margin: 0;
    font-family: inherit;
}
button {
    cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: inherit;
    margin: 0;
    padding: 0;
}
ul,
ol {
    li {
        font-family: inherit;
        padding: 0;
        margin: 0;
    }
}
img {
    max-width: 100%;
}


.container {
    max-width: 1460px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mainPage {
    background: linear-gradient(170.79deg, #181D2F 0.37%, #221B37 93.02%);
}