
.elipsX{
    position: absolute;
    top: 16%;
    left: 17%;
    -webkit-animation:elipsX 8s linear infinite;
    -moz-animation:elipsX 8s linear infinite;
    animation:elipsX 8s linear infinite;
}
.elipsY{
    position: absolute;
    top: 16%;
    left: 17%;
    -webkit-animation:elipsY 8s linear infinite;
    -moz-animation:elipsY 8s linear infinite;
    animation:elipsY 8s linear infinite;
}
@-moz-keyframes elipsX { 
    100% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes elipsX { 
    100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes elipsX { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}



@-moz-keyframes elipsY { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes elipsY { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes elipsY { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}