@import "/src/styles/vars";
@import "/src/styles/mixins";

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(170.79deg, rgba(21, 26, 44, 0.92) 0.37%, rgba(18, 13, 32, 0.92) 93.02%);
    backdrop-filter: blur(16px);
    z-index: 33;
}

.modalClass {
    max-width: 660px;
    width: 100%;
    margin: 1.75rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    height: calc(100% - 3rem);
    outline: none;
    position: relative;
    z-index: 34;
}
.modalInner {
    pointer-events: all;
    background: rgba(41, 52, 139, 0.24);
    backdrop-filter: blur(24px);
    border-radius: 8px;
    width: 100%;
    padding: 48px 24px 38px;
    .modalCloser {
        position: absolute;
        top: 28px;
        right: 28px;
        cursor: pointer;
    }    
}
