@import "/src/styles/vars";
@import "/src/styles/mixins";

.forecastSection {
    padding: 28px 24px;
    background: rgba(41, 52, 139, 0.16);
    border-radius: 8px;
    position: relative;
    .forecastHeader {
        max-width: 665px;
        margin: 0 auto;

        .forecasstChangers {
            position: relative;
            @include flexRow(0, 3, center);
            list-style-type: none;
            justify-content: center;
            padding: 0 0 12px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background: rgba(41, 52, 139, 0.32);
                border-radius: 10px;
                width: 100%;
                height: 4px;
            }
            li {
                button {
                    position: relative;
                    @include buttonNulled;
                    width: 100%;
                    position: relative;
                    @include fontRem(18, 400);
                    line-height: 18px;
                    color: rgba(251, 252, 255, 0.56);
                    &.active {
                        color: $titleColor;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -13px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background: #18aafc;
                            border-radius: 10px;
                        }
                    }
                    .readyCount {
                        position: absolute;
                        top: -12px;
                        right: 0;
                        width: 30px;
                        height: 24px;
                        background: rgba(33, 90, 231, 0.12);
                        border-radius: 8px;
                        padding: 2px 10px;
                        @include fontRem(16, 500);
                        color: $titleColor;
                    }
                }
            }
        }
    }
    .forecastBody {
        margin-top: 33px;
        .waittimeInfo {
            margin-bottom: 22px;
            @include fontRem(20, 400);
            color: rgba(251, 252, 255, 0.64);
            span {
                font-weight: 600;
                color: $white;
            }
        }
        .foreacstBodyItem {
            padding-bottom: 16px;
            margin-bottom: 16px;
            &:not(:last-child) {
                border-bottom: 2px solid rgba(182, 193, 255, 0.16);
            }
            .forecastBodyItemContent {
                background: #141528;
                border-radius: 8px;
                padding: 32px 44px 18px;
                .bodyItem {
                    .bodyRow {
                        @include flexRow(20, 2);
                        .customCol {
                            padding-left: 20px;
                            padding-right: 20px;
                            &.customColSmall {
                                flex: 0 0 40%;
                                max-width: 40%;
                            }
                            &.customColBig {
                                flex: 0 0 60%;
                                max-width: 60%;
                            }
                        }
                    }
                    .bodyItemLeft {
                        padding-right: 20px;
                        border-right: 2px solid rgba(41, 52, 139, 0.44);
                        .leftItem {
                            &:not(:last-child) {
                                margin-bottom: 32px;
                            }
                            svg {
                                margin-right: 24px;
                            }
                            p {
                                @include flex-center-vert;
                                flex-wrap: wrap;
                                @include fontRem(18, 400);
                                line-height: 44px;
                                margin-bottom: 0;
                                color: $titleColor;
                                span {
                                    font-weight: 600;
                                    color: $white;
                                }
                                p {
                                    margin-top: -15px;
                                    flex: 0 0 100%;
                                    padding-left: 64px;
                                    
                                    small {
                                        color: rgba(251, 252, 255, 0.72);
                                    }
                                }
                            }
                        }
                        .leftItemBtns {
                            @include flex-center-vert;
                            .links {
                                color: $blue;
                                cursor: pointer;
                                display: inline-block;
                                @include fontRem(18, 500);
                                line-height: 22px;
                                transition: 0.3s;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                                &:active {
                                    text-decoration: underline;
                                    background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    background-image: linear-gradient(229.09deg, #1875fc 3.76%, #00ddfb 115.42%);
                                }
                                &:first-child {
                                    margin-right: 22px;
                                    padding-right: 22px;
                                    border-right: 1px solid rgba(41, 52, 139, 0.44);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
