.main{
    position: absolute;
    bottom: 0;
    height: 50px;
    background: darkgoldenrod;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}