.main {
    display: flex;
    height: 100vh;
    font-size: clamp(16px, calc(1rem + ((1vw - 3.2px) * 4)), 80px);
    min-height: 0vw;  
    font-weight: 600;
    color: rebeccapurple;
    background: aqua;
    width: 100%;
    justify-content: center;
    align-items: center;
}