.main {
    display: flex;
    height: 100vh;
    font-size: 40px;
    font-weight: 600;
    color: rebeccapurple;
    background: aqua;
    width: 100%;
    justify-content: center;
    align-items: center;
}