@import "/src/styles/vars";
@import "/src/styles/mixins";
.contactPage {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 84px;
    background-image: url("../../../Assets/images/contact-about-bg.png"),
        linear-gradient(170.79deg, #151a2c 0.37%, #120d20 93.02%);
}
.contactSection {
    padding: 100px 0;
    .contactRow {
        @include flexRow(50, 2, flex-start);
        .contactInfo {
            [class*="title"] {
                text-align: left;
            }
            [class*="subTitle"] {
                text-align: left;
                max-width: 514px;
                margin-left: 0;
            }
        }
        .contactPageForm {
            background: rgba(41, 52, 139, 0.24);
            border-radius: 8px;
            padding: 56px 57px;
            .formItem {
                margin-bottom: 48px;
            }
            .selectParent {
                width: 100%;
                list-style-type: none;
                .selectItem {
                    cursor: pointer;
                    position: relative;
                    background: rgba(41, 52, 139, 0.24);
                    border: 1px solid rgba(178, 186, 215, 0.32);
                    border-radius: 8px;
                    height: 64px;
                    @include flex-center-vert;
                    padding: 22px 24px 22px 16px;
                    color: rgba(227, 230, 234, 0.32);
                    &:hover {
                        border-radius: 8px 8px 0 0;
                        border-bottom: 0;
                        &::after {
                            transform: translateY(-50%) rotate(180deg);
                        }
                        .selectList {
                            border-top: 0;
                            border-radius: 0 0 8px 8px;
                            top: 99%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 24px;
                        width: 16px;
                        height: 9px;
                        transition: 0.3s;
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.64018 1.23178L1.87196 0.591594L0.591594 2.12804L1.35982 2.76822L2.64018 1.23178ZM8 7L7.35982 7.76822L8 8.30171L8.64018 7.76822L8 7ZM14.6402 2.76822L15.4084 2.12804L14.128 0.591594L13.3598 1.23178L14.6402 2.76822ZM1.35982 2.76822L7.35982 7.76822L8.64018 6.23178L2.64018 1.23178L1.35982 2.76822ZM8.64018 7.76822L14.6402 2.76822L13.3598 1.23178L7.35982 6.23178L8.64018 7.76822Z' fill='%23E3E6EA' fill-opacity='0.32'/%3E%3C/svg%3E");
                    }
                    .selectList {
                        list-style-type: none;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: 130%;
                        left: -1px;
                        width: calc(100% + 2px);
                        backdrop-filter: blur(16px);
                        border-radius: 8px;
                        border-width: 1px;
                        border-style: solid;
                        transition-duration: 0.3s;
                        .selectOption {
                            width: 100%;
                            padding: 10px 15px;
                            cursor: pointer;
                            &:hover {
                                background-color: rgba(41, 52, 139, 0.24);
                            }
                        }
                    }
                    &.active {
                        border-radius: 8px 8px 0 0;
                        border-bottom: 0;
                        &::after {
                            transform: translateY(-50%) rotate(180deg);
                        }
                        .selectList {
                            border-top: 0;
                            border-radius: 0 0 8px 8px;
                            top: 99%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
